// [ navigation menu ] start
nav.pcoded-navbar
    .navbar-wrapper
        .navbar-brand.header-logo
            a.b-brand(href='index.html')
                span.b-title ACESKOOL
            a#mobile-collapse.mobile-menu(href='javascript:')
                span
        .navbar-content.scroll-div
            ul.nav.pcoded-inner-navbar
                li.nav-item.pcoded-menu-caption
                    label Navigation
                li.nav-item.active(data-username='dashboard Default Ecommerce CRM Analytics Crypto Project')
                    a.nav-link(href='/')
                        span.pcoded-micon
                            i.feather.icon-home
                        span.pcoded-mtext Dashboard
                li.nav-item.pcoded-menu-caption
                    label UI Element
                li.nav-item.pcoded-hasmenu(data-username='basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds')
                    a.nav-link(href='javascript:')
                        span.pcoded-micon
                            i.feather.icon-box
                        span.pcoded-mtext Components
                    ul.pcoded-submenu
                        li
                            a(href='/bc_button') Button
                        li
                            a(href='/bc_badges') Badges
                        li
                            a(href='/bc_breadcrumb') Breadcrumb & paggination
                        li
                            a(href='/bc_collapse') Collapse
                        li
                            a(href='/bc_tabs') Tabs & pills
                        li
                            a(href='/bc_typography') Typography
                        li
                            a(href='/icon-feather') Feather
                            span.pcoded-badge.label.label-danger NEW
                li.nav-item.pcoded-menu-caption
                    label Forms & table
                li.nav-item(data-username='form elements advance componant validation masking wizard picker select')
                    a.nav-link(href='/form_elements')
                        span.pcoded-micon
                            i.feather.icon-file-text
                        span.pcoded-mtext Form elements
                li.nav-item(data-username='Table bootstrap datatable footable')
                    a.nav-link(href='/tbl_bootstrap')
                        span.pcoded-micon
                            i.feather.icon-server
                        span.pcoded-mtext Table
                li.nav-item.pcoded-menu-caption
                    label Chart & Maps
                li.nav-item(data-username='Charts Morris')
                    a.nav-link(href='/chart-morris')
                        span.pcoded-micon
                            i.feather.icon-pie-chart
                        span.pcoded-mtext Chart
                li.nav-item(data-username='Maps Google')
                    a.nav-link(href='/map-google')
                        span.pcoded-micon
                            i.feather.icon-map
                        span.pcoded-mtext Maps
                li.nav-item.pcoded-menu-caption
                    label Pages
                li.nav-item.pcoded-hasmenu(data-username='Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe')
                    a.nav-link(href='javascript:')
                        span.pcoded-micon
                            i.feather.icon-lock
                        span.pcoded-mtext Authentication
                    ul.pcoded-submenu
                        li
                            a(href='/auth-signup' target='_blank') Sign up
                        li
                            a(href='/auth-signin' target='_blank') Sign in
                li.nav-item(data-username='Sample Page')
                    a.nav-link(href='/sample-page')
                        span.pcoded-micon
                            i.feather.icon-sidebar
                        span.pcoded-mtext Sample page
                li.nav-item.disabled(data-username='Disabled Menu')
                    a.nav-link(href='javascript:')
                        span.pcoded-micon
                            i.feather.icon-power
                        span.pcoded-mtext Disabled menu
// [ navigation menu ] end
