include includes/header.pug 
block content
  body
    .auth-wrapper
      .auth-content
        .auth-bg
          span.r
          span.r.s
          span.r.s
          span.r
        .card
          .card-body.text-center
            .mb-4
              i.feather.icon-mail.auth-icon
            h3.mb-4 Reset Password
            .input-group.mb-3
              input.form-control(type='email' placeholder='Email')
            button.btn.btn-primary.mb-4.shadow-2 Reset Password
            p.mb-0.text-muted
              | Don’t have an account? 
              a(href='auth-signup.html') Signup
    // Required Js
    include includes/footer.pug
